<p>Dear <%= @user.first_name %> <%= @user.last_name %></p>
<p>  Welcome to this site. Your account has successfully been created. </p>
<p> Please Login to your account</a> using these credentials: </p>
<ul>
  <li>Username: <%= @user.email %></li>
  <li>Password: <%= @user.password %></li>
</ul>