<div class="vh-100 d-flex align-items-center justify-content-center">
  <div class="row">
    <h1>Welcome to Dashboard</h1>
    <p>you can create a shipment <%= link_to "here", new_shipment_path %></p>
  </div>
</div>

