<div class="shadow-lg p-3 mb-5 bg-body rounded">
  <div class="d-flex justify-content-between">
    <span>Pending</span>
    <span>Approved</span>
    <span>Out for Deliver</span>
    <span>Delivered</span>
  </div>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: <%= calculate_progress(shipment.status) %>%;" aria-valuenow="<%= calculate_progress(shipment.status) %>" aria-valuemin="0" aria-valuemax="100"><%= shipment.status.humanize %></div>
  </div>
</div>
